<div class="main-box">
<p class="flash"><%= flash[:notice] %></p>
<p class="flash"><%= flash[:update] %></p>
<p class="body"><strong>Title</strong>:<%= @book.title %></p>

<P class="body"><strong>Body</strong>:<%= @book.body %></P>
<%= link_to "Edit",edit_book_path(@book.id) %>
<%= link_to "Back",books_path %>
</div>